body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 15px;
  /*change padding to 15px*/
}

p {
  margin: 0;
}

svg {
  fill: white;
}

a {
  text-decoration: none;
}

hr {
  border-top: 2px solid #c6c4c4;
  width: 100%;
}

h2 {
  font-size: 1.25em;
}

h1 {
  color: white;
}

h3 {
  font-size: 1.1em;
}

#profile {
  display: flex;
  padding-left: 5px;
}

input {
  background: #f5e6e6;
  border: 1px solid #c6c4c4;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  border-radius: 0.5em;
  padding: 10px 0 10px 10px;
}

textarea {
  background: #f5e6e6;
  border: 1px solid #c6c4c4;
  display: flex;
  justify-content: space-around;
  height: 100px;
  margin-bottom: 15px;
  border-radius: 0.5em;
  padding: 10px;
}

button {
  height: 35px;
  padding: 10px;
  background-color: rgb(100, 100, 162);
  border-radius: 0.5em;
  border: none;
  color: white;
  text-align: center;
}

.alert {
  display: flex;
  justify-content: space-around;
  border: rgb(36, 36, 58);
  margin-bottom: 5px;
}

.notification-light {
  color: rgb(3, 210, 3);
  padding: none;
}

#notifications {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.bell:hover {
  fill: rgb(3, 210, 3);
}

.alert {
  flex-direction: column;
  width: 100%;
}

#notificationOne,
#notificationTwo {
  align-items: center;
  display: none;
  font-size: 13px;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
  position: relative;
  background-color: rgb(100, 100, 162);
  border-radius: 0.5em;
  border: none;
  color: white;
  width: auto;
  text-align: center;
}

.alert-banner-close {
  position: absolute;
  right: 15px;
  top: 15px;
}

.section-label {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.navigation {
  background: rgb(69, 69, 108);
  height: 45px;
  padding-top: 10px;
  margin: 0 -35px 0 -15px;
}

#navigation-group {
  display: flex;
  justify-content: space-evenly;
}

#hourlyFilterButton {
  background: green;
  color: white;
  border-radius: 50px;
}

.icon-top {
  width: 35px;
  height: 35px;
}

.avatar {
  max-width: 40px;
  max-height: 40px;
  border-radius: 22px;
  padding: 5px;
}

#main-title {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 15px;
}

#name-top {
  color: white;
  padding-top: 4px;
  font-size: 15px;
}

.bell {
  transition: fill 5s ease;
  fill: white;
  padding-top: 15px;
  width: 25px;
  height: 25px;
}

#navicon {
  fill: white;
}
.social-media-wrapper {
  border-style: solid;
  border-width: 1px;
  border-color: #c6c4c4;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 15px 0;
  width: 250px;
  max-width: 500px;
  background: #f5e6e6;
  gap: 10px;
  padding: 15px;
}

.social-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(100, 100, 162);
  width: 70px;
  height: 70px;
}

.social-icon {
  width: 35px;
  height: 35px;
}

.social-name {
  font-size: 1.5rem;
  color: rgb(100, 100, 162);
  margin: 0;
}

.social-count {
  font-size: 2.5rem;
  margin: 0;
  color: rgb(103, 103, 103);
}

.members-container,
.social-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.grid-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "navigation"
    "main";
}

.header {
  grid-area: header;
  display: flex;
  background: rgb(100, 100, 162);
  margin: -15px -35px -1px -15px;
  height: 55px;
  justify-content: space-evenly;
}

.widget-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.message {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

#send {
  border: 1px solid #c6c4c4;
  height: 45px;
  margin: 0 15px 15px 15px;
}

.button-primary-send {
  display: flex;
  justify-content: space-around;
}

.traffic,
.daily,
.mobile,
.social-container,
.members,
.activity,
.message,
.settings {
  border-bottom: 2px solid rgb(200, 197, 197);
  margin-left: -15px;
  padding: 0 20px 25px 15px;
}

.members-container {
  padding: 25px;
  border-bottom: 2px solid rgb(200, 197, 197);
}

.traffic-nav {
  display: flex;
  padding: 0;
  justify-content: space-evenly;
}

.traffic-nav-link {
  list-style: none;
  padding: 10px;
}

.setting-1,
.setting-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0 15px 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 27.5px;
  border: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5e6e6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 8px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider {
  display: flex;
  align-items: center;
}

.slider-text {
  position: relative;
  top: 1px;
}

.slider.round {
  color: white;
  font-size: 14px;
  padding: 5px 5px 5px 10px;
  text-decoration: none;
}

input:checked + .slider {
  background-color: rgb(100, 100, 162);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(100, 100, 162);
}

input:checked + .slider:before {
  -webkit-transform: translateX(45px);
  -ms-transform: translateX(45px);
  transform: translateX(45px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.select-wrap {
  margin: 15px 0 15px 0;
}

#timezone {
  background: #f5e6e6;
  border: 1px solid #c6c4c4;
  display: flex;
  justify-content: space-around;
  border-radius: 0.5em;
  border-width: 1px;
  padding: 10px;
  width: 100%;
  height: 45px;
  justify-content: center;
}

.settings-button {
  display: inline-flex;
  flex-direction: row;
  padding-top: 15px;
  width: 100%;
  justify-content: space-between;
}

.button-primary,
.button-disabled {
  border: 1px solid #c6c4c4;
  width: 45%;
  height: 45px;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  grid-area: header;
}

.navigation {
  grid-area: navigation;
}

.main {
  /*grid-area: main;*/
  display: grid;
  margin-right: -30px;
}

.widget-container-full,
.widget-container-half {
  width: 85vw;
}

#traffic-hourly-chart {
  display: flex;
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: 50%;
    padding-left: 15px;
    margin-right: -30px;
  }

  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }
  .navigation {
    height: auto;
    padding-left: 7px;
    padding-right: 15px;
    margin: 0 0 0 -15px;
  }

  #navigation-group {
    flex-direction: column;
    position: fixed;
  }

  .traffic-header {
    display: flex;
    justify-content: space-between;
  }

  .traffic-nav-link {
    margin: 0 15px 15px 15px;
  }

  .traffic,
  .social-container,
  .members,
  .activity,
  .message,
  .settings {
    grid-column: 1 / span 2;
  }

  .daily {
    grid-column: 1 / span 1;
  }

  .mobile {
    grid-column: 2 / span 1;
    border-left: 2px solid rgb(200, 197, 197);
  }

  .traffic, mobile,
   .social, .activity, .message, .settings {
    padding-right: 15px;
   }

  #navigation-group {
    flex-direction: column;
    margin: 7px;
  }
  .icon-top {
    padding-bottom: 15px;
  }

  .header {
    justify-content: space-between;
    padding: 0 15px;
  }

  #profile {
    margin-right: 15px;
  }

  .main-header {
    display: flex;
  }

  .alert {
    grid-column: 1 / span 2;
  }

  .alert-button {
    width: 100%;
    margin: 0 15px;
    text-align: left;
  }

  hr {
    grid-column: 1 / span 2;
  }

  .switch {
    margin-right: 60%;
  }

  .social-media-wrapper {
    width: 26%;
    display: inline-flex;
    margin: 0 7.5px 15px 7.5px;
  }

  .social-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .members-container {
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  .activity-container:last-child {
    border-bottom: none;
  }

  .members-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 15px;
  }

  .message,
  .settings,
  .activity,
  .members {
    padding-right: 15px;
  }
}

@media (min-width: 1024px) {
  .members,
  .message {
    grid-column: 1 / span 1;
  }

  .activity,
  .settings {
    grid-column: 2 / span 1;
    border-left: 2px solid rgb(200, 197, 197);
  }

  .message {
    margin-right: 15px;
  }

  .switch {
    margin-right: 40%;
  }

  .message,
  .settings,
  .activity,
  .members {
    padding-right: 25px;
  }
}
